[Unit]
Description=kubelet
After=weave.service
Requires=weave.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill kubelet
ExecStartPre=-/usr/bin/docker rm -v kubelet
ExecStartPre=/usr/bin/docker pull gcr.io/google_containers/hyperkube:v0.15.0
ExecStart=/usr/bin/docker run \
	-name kubelet \
    	--net=host \
	--privileged \
	-v /var/run/docker.sock:/var/run/docker.sock \
	gcr.io/google_containers/hyperkube:v0.15.0 \
	/hyperkube kubelet \
	--api_servers=http://localhost:8080 \
	--v=2 \
	--address=0.0.0.0 \
	--enable_server \
	--hostname_override=127.0.0.1 \
	--config=/etc/kubernetes/manifests-multi
ExecStop=/usr/bin/docker stop kubelet

[Install]
WantedBy=multi-user.target
