[Unit]
Description=DockerBootstrap
After=cloud-final.service
Before=docker.service

[Service]
Type=notify
ExecStart=/usr/bin/docker -d \
	-H unix:///var/run/docker-bootstrap.sock \
	-p /var/run/docker-bootstrap.pid \
	--iptables=false \
	--ip-masq=false \
	--bridge=none \
	--graph=/var/lib/docker-bootstrap
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity
MountFlags=slave

[Install]
WantedBy=multi-user.target
