[Unit]
Description=subnetSetup
After=etcd.service
Before=flannel.service

[Service]
Type=oneshot
ExecStartPre=/bin/sh -c "sleep 5"
ExecStart=/usr/bin/docker -H unix:///var/run/docker-bootstrap.sock run \
	--rm \
	--net=host gcr.io/google_containers/etcd:2.0.9 \
	etcdctl set /coreos.com/network/config '{ "Network": "10.1.0.0/16" }'

[Install]
WantedBy=multi-user.target
