[Unit]
Description=flanneld-setup
After=flanneld.service
Requires=flanneld.service

[Service]
Type=oneshot
ExecStart=/usr/bin/sh -c "$(/usr/bin/docker -H unix:///var/run/docker-bootstrap.sock exec $(docker ps -a -q | grep flannel) cat /run/flannel/subnet.env) > /etc/sysconfig/flannelsubnet"

[Install]
WantedBy=multi-user.target
