[Unit]
Description=Marathon
After=docker.service
Requires=docker.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill etcd
ExecStartPre=-/usr/bin/docker rm -v etcd
ExecStartPre=/usr/bin/docker pull microbox/etcd
ExecStart=/usr/bin/docker run \
    --name etcd \
    --net=host \
    microbox/etcd
ExecStop=/usr/bin/docker stop etcd

[Install]
WantedBy=multi-user.target

