[Unit]
Description=etcd

[Service]
ExecStart=/usr/local/sbin/etcd \
-name=master01 \
-bind-addr=0.0.0.0:4001 \
-peer-bind-addr=0.0.0.0:7001 \
-data-dir=/tmp/etcd \
-addr=10.0.0.129:4001 \
-peer-addr=10.0.0.129:7001
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
